@font-face{
    font-family: uvnvan;
    src:  url('/fonts/uvnvan_r_0.ttf') format('truetype');
}
@font-face{
    font-family: uvnvan_bold;
    src:  url('/fonts/uvnvan_0.ttf') format('truetype');
}
@font-face{
    font-family: im_arial;
    src:  url('/fonts/arial.ttf') format('truetype');
}
@font-face{
    font-family: im_CourierNew;
    src:  url('/fonts/CourierNew.ttf') format('truetype');
}
@font-face{
    font-family: im_PalatinoLinotype;
    src:  url('/fonts/PalatinoLinotype.ttf') format('truetype');
}
body{
    text-align: center;
    font-family: uvnvan_bold;
}
.Header{
    background-image: url('/images/common/header.png');
    width: 100%;
    height: 150px;
}
.HeaderMenu{
    position: absolute;
    top: 20px;
    right: 10px;
}
.HeaderMenu div{
    float: left;
    width: 115px;
}
enable{
    position: absolute; 
    top: 70px;
    z-index: 1000;
}
.Logo{
    position: relative;
    float: left;
    width: 40%;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    border: none;
}
.Form{
    width: 1024px;
    height: 1240px;
    margin: 0 auto 0 auto;
    position: relative;
}
.Menu{
    float: left;
    clear: both;
    width: 100%;
    height: 50px;
}
.RightContent{
    float: left;
}
.MainContent{
    background-image: url('/images/common/background.png');
    height: 110%;
    width: 100%;
}
.Line{
    position: absolute;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-image: url('/images/common/line.png');
}
.blockMsg{
    border: none !important;
    border-radius: 3px;
    background-color: black !important;
    color: white !important;
    width: 15% !important;
    height: 70px;
    opacity: 0.6;
    font-size: 11px;
    left: 43% !important;
}
#text_frame
{
    
}
#textOnlyControls{
    float: left;        
}
#colorBox{
    display: none;
    float: right;
    margin-right: 45px;
}
#choosePhoto{
    position: relative;
    top: 15px;
}
.btnWatermark {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.btnWatermark:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}
.btnWatermark:active {
	position:relative;
	top:1px;
}
