@font-face{
    font-family: uvnvan;
    src:  url('/fonts/uvnvan_r_0.ttf') format('truetype');
}
@font-face{
    font-family: uvnvan_bold;
    src:  url('/fonts/uvnvan_0.ttf') format('truetype');
}
body{
    text-align: center;
    font-family: uvnvan_bold;
}
.Header{
    background-image: url('/images/common/header.png');
    width: 100%;
    height: 150px;
}
.HeaderMenu{
    position: absolute;
    top: 20px;
    right: 10px;
}
.HeaderMenu div{
    float: left;
    width: 115px;
}
enable{
    position: absolute; 
    top: 70px;
    z-index: 1000;
}
.Logo{
    position: relative;
    float: left;
    width: 40%;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
    border: none;
}
.Form{
    width: 1024px;
    height: 1240px;
    margin: 0 auto 0 auto;
    position: relative;
}
.Menu{
    float: left;
    clear: both;
    width: 100%;
    height: 50px;
}
.RightContent{
    float: left;
}
.MainContent{
    background-image: url('/images/common/background.png');
    height: 110%;
    width: 100%;
}
.Line{
    position: absolute;
    height: 2px;
    width: 100%;
    margin-top: 4px;
    background-image: url('/images/common/line.png');
}
.blockMsg{
    border: none !important;
    border-radius: 3px;
    background-color: black !important;
    color: white !important;
    width: 15% !important;
    height: 70px;
    opacity: 0.6;
    font-size: 11px;
    left: 43% !important;
}
