body{
    text-align: center;
}
.Header{
    background-image: url('/images/common/header.png');
    width: 100%;
    height: 150px;
}
.Logo{
    position: relative;
    float: left;
    width: 38%;
    height: 80px;
    margin-top: 24px;
    margin-left: 20px;
}
.Form{
    width: 900px;
    height: 1240px;
    margin: 0 auto 0 auto;
    position: relative;
}
.Menu{
    float: left;
    clear: both;
    width: 100%;
    height: 50px;
}
.RightContent{
    float: left;
}
.MainContent{
    background-image: url('/images/common/background.png');
    height: 110%;
    width: 100%;
}
.Line{
    position: absolute;
    height: 2px;
    width: 100%;
    margin-top: 4px;
}