.Facebook{
    width: 850px;
    height: 315px;
}
.LeftF{
    float: left;
    width: 60px;
    height: 320px;
}
.RightF{
    height: 320px;
    width: 85px;
}
.PatternImageF{
    width: 315px;
}
.NaviF{
    top: 393px !important;
}
.mCSB_scrollTools{
    bottom: -4px !important;
}
#choosePhoto{
    top: 22px;
}
