.Facebook{
    width: 850px;
    height: 315px;
    margin-left: 58px;
}
.RightF{
    height: 320px;
    width: 85px;
}
.PatternImageF{
    width: 315px;
}
.NaviF{
    top: 393px !important;
}
.mCSB_scrollTools{
    bottom: -1px !important;
}