.HomeContent{
    position: absolute;
    width: 100%;
    height: 100%;    
    margin-left: 50px;    
}
.Category{
    height: 25%;
    width: 888px;
    background-image: url('/images/home/category_bg.png');
    padding-left: 25px;
    margin-top: 30px;
}
.CategoryTitle{
    width: 80px;
    position: absolute;
}
.CategoryTitle img{
    width: 100%;
    position: relative;
    top: -10px;
}
.CategoryTitle label{
    position: relative;
    top: -73px;
    color: white;
    font-size: 15px;
    float: left;
}
.Pattern{
    left: -12px;
    margin-left: 18px;
    margin-top: 40px;
    position: absolute;
}
.PatternImage{
    width: 100px;
    height: 100px;
    border: 3px solid whitesmoke;
    border-radius: 3px;
}
.Pattern table{
    margin-left: -1px;
    float: left;
}
.Pattern div{
    width: 98%;
    height: 100%;
}
.Pattern div:hover{
    border: 1px solid #fd3d0e;
    cursor: pointer;
}


